{% extends "base_popup.html" %}
 
{% block content %}
<br>
<form method="POST" id="form-produto">
    <div class="container atualiza_valor">
        <!-- Security token by Django -->
        {% csrf_token %}
        <table class="table table-dark table-striped">
            <thead><tr>
                <td class="col col-2">Produto: </td>
                <td class="col col-4">{{ produto.nome }}</td>
                <td class="col col-2">Pn: </td>
                <td class="col col-4">{{ produto.pn }}</td>
            </tr></thead>
            <thead><tr>
                <td class="col col-2">Valor fornecedor: </td>
                <td class="col col-4">{{ form.valor_fornecedor }}</td>
                <td class="col col-2">Valor final: </td>
                <td class="col col-4">{{ form.valor_final }}</td>
            </tr></thead>
            <thead><tr>
                <td class="col col-2">Margem: </td>
                <td class="col col-4">{{ form.margem }}</td>
                <td class="col col-2">Fornecedor: </td>
                <td class="col col-4">{{ form.fornecedor }}</td>
            </tr></thead>
            <thead><tr>
                <td class="col col-2">Ultima cotação: </td>
                <td class="col col-4">{{ produto.data_ultimo }}</td>
                <td class="col col-2">Usuario: </td>
                <td class="col col-4">{{ produto.criador }}</td>
            </tr></thead>
            <thead><tr>
                <td class="col col-2">Quantidade: </td>
                <td class="col col-10" colspan="10">{{ form.quantidade }}</td>
            </tr></thead>
            <thead><tr>
                <div style="display: none;">
                    {{ form.orcamento }}
                    {{ form.produto }}
                    {{ form.data }}
                </div>
            </tr></thead>
        </table>
        <input type="submit" class="form-control" value="Salvar">
    </div>
</form> 
{% endblock %}