{% extends "base.html" %}
 
{% block content %}
<div class="container text-center">
    <br>
    <form id="forminho" class="d-flex" role="search" method="POST" 
                  action="{% url 'home' %}">{% csrf_token %}

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="col-1">De:</th>
                <th scope="col" class="col-2">
                    <input type="date" id="data_inicio" name="data_inicio" class="form-control filtro-orcamento" value="{{ data_minima|date:'Y-m-d' }}">
                </th>
                <th scope="col" class="col-1">Até:</th>
                <th scope="col" class="col-2">
                    <input type="date" id="data_final" name="data_final" class="form-control filtro-orcamento" value="{{ data_maxima|date:'Y-m-d' }}">
                </th>
                <th scope="col" class="col-1">Status:</th>
                <th scope="col" class="col-3">
                    <select id="status" name="status" class="form-control filtro-orcamento">
                        <option value="">Todos</option>
                        {% for l_status in lista_status %}
                        <option value="{{ l_status.pk }}"
                            {% if status == l_status %} SELECTED{% endif %}>{{ l_status.nome }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th scope="col" class="col-2">
                    <select id="meus" name="meus" class="form-control filtro-orcamento">
                        <option value="1" {% if meus == "1" %} SELECTED{% endif %}>Somente meus</option>
                        <option value="0"{% if meus != "1" %} SELECTED{% endif %}>Todos</option>
                    </select>
                </th>
            </tr>
        </thead>
    </table>
    </form>
    <br>
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col" class="d-none d-sm-table-cell">Vencimento</th>
                <th scope="col" class="d-none d-sm-table-cell">Atividade</th>
                <th scope="col" class="d-none d-sm-table-cell">Quantidade</th>
                <th scope="col">Preço Final</th>
                <th scope="col" class="d-none d-sm-table-cell">Custo</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        {% for data in dataset %}
        <thead>
        {% if data.status == status_aberto  %}
            <tr>
        {% elif data.status == status_enviado  %}
            <tr class="enviado">
        {% elif data.status == status_atrasado  %}
            <tr class="atrasado">
        {% elif data.status == status_vendido  %}
            <tr class="vendido">
        {% elif data.status == status_cancelado  %}
            <tr class="cancelado">
        {% else %}
            <tr>
        {% endif %}
        <a href="{% url 'orcamento_detail' data.id %}">
                <th scope="col">
                    <a href="{% url 'orcamento_detail' data.id %}">
                    {{ data.pk }}</a>
                </th>
                <th scope="col">
                    <a href="{% url 'orcamento_detail' data.id %}">
                    {{ data.cliente }}</a>
                </th>
                <th scope="col" class="d-none d-sm-table-cell">{{ data.data_vencimento }}</th>
                <th scope="col" class="d-none d-sm-table-cell">{{ data.data_ultimo}}</th>
                <th scope="col" class="d-none d-sm-table-cell">{{ data.quantidade}}</th>
                <th scope="col">R$ {{ data.valor_final }}</th>
                <th scope="col" class="d-none d-sm-table-cell">R$ {{ data.valor_custo }}</th>
                <th scope="col">{{ data.status }}</th>
            </tr>
        </thead>
        {% endfor %}
        <div style="display: none;">{% for ven in vencidos %} {{ven.cliente}} {% endfor %}</div>
</div>
{% endblock %}