{% extends "base.html" %}
 
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col col-12"><h1>Criando orçamento para <b>{{ cliente.nome }}</b></h1></div>
    </div>
</div>
<div class="container">
    <form method="POST" id="form-cadastro-orcamento" 
        action="{% url 'orcamento_cadastra' cliente.id %}">
    <table class="table table-dark table-striped">
        <thead><tr>
            <td class="col col-2">Vencimento:</td>
            <td class="col col-2"> {{ form.data_vencimento }}</td>
            <td class="col col-8"></td>
        </tr></thead>
        <thead><tr>
            <td class="col col-12" colspan="12">Observações: </td>
        </tr></thead>
        <thead><tr>
            <td class="col col-12" colspan="12">{{ form.obs }}</td>
        </tr></thead>
        <thead><tr>
            <td class="col col-12" colspan="12"><input type="submit" value="Criar Orçamento" class="form-control"></td>
        </tr></thead>
        <thead><tr>
            <div style="display: none;">
                {{ form.criador }}
                {{ form.data_criacao }}
                {{ form.data_ultimo }}
                {{ form.quantidade }}
                {{ form.parcelas }}
                {{ form.cliente }}
                {{ form.pagamento }}
                {{ form.status }}
                {% csrf_token %}
            </div>
        </tr></thead>
    </table>
    </form>{{ hoje_hora }}
</div>
{% endblock %}