@font-face
{
	font-family: Ubuntu;
	src:url('/static/font/Ubuntu-Regular.ttf');
}

body, html
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: Ubuntu;
	display: flex;
    flex-direction: column;
}
a
{
	text-decoration: none;
	color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
}
tr:hover th, tr:hover th a
{
	 background-color: var(--bs-secondary-bg);
	 /*color: var(--bs-dark);*/
}
.money
{
	text-align: right;
}
.enviado
{
	/*--bs-table-bg: #198754;*/
	--bs-table-bg: #031633;
	--bs-table-color: #bcd0c7;
}
.enviado:hover
{
	--bs-table-color: #bcd0c7;
}
.atrasado
{
	/*--bs-table-bg: #198754;*/
	--bs-table-bg: #332701;
	--bs-table-color: #bcd0c7;
}
.atrasado:hover
{
	--bs-table-color: #bcd0c7;
}
.vendido
{
	/*--bs-table-bg: #198754;*/
	--bs-table-bg: #051b11;
	--bs-table-color: #bcd0c7;
}
.vendido:hover
{
	--bs-table-color: #bcd0c7;
}
.cancelado
{
	/*--bs-table-bg: #198754;*/
	--bs-table-bg: #2c0b0e;
	--bs-table-color: #bcd0c7;
}
.cancelado:hover
{
	--bs-table-color: #bcd0c7;
}
footer
{
	position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1px;
}
