@font-face
{
	font-family: Ubuntu;
	src:url('/static/font/Ubuntu-Regular.ttf');
}

body
{
	border = 0;
	font-family: Ubuntu;
}
a
{
	text-decoration: none;
	color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
}
tr:hover th, tr:hover th a
{
	 background-color: var(--bs-secondary-bg);
	 /*color: var(--bs-dark);*/
}
.money
{
	text-align: right;
}

